<!-- Bootstrap Navbar -->
<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Mean Docker</a>
  </div>
</nav>

<div class="container">
  <div [style.margin-top.px]="10" class="row">
    <h3>Add New Person!</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" #email>
      </div>
      <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" id="firstName" #firstName>
      </div>
      <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" id="lastName" #lastName>
      </div>
      <button type="button" (click)="addPerson(email.value, firstName.value, lastName.value)" class="btn btn-primary">Add Person</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>Add New Activity!</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">User ID</label>
        <input type="text" class="form-control" id="userId" #userId>
      </div>
      <div class="form-group">
        <label for="name">Date Time</label>
        <input type="text" class="form-control" id="dateTime" #dateTime>
      </div>
      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="description" #description>
      </div>
      <div class="form-group">
        <label for="name">Weight Value</label>
        <input type="text" class="form-control" id="weightValue" #weightValue>
      </div>
      <button type="button" (click)="addActivity(userId.value, dateTime.value, description.value, weightValue.value)" class="btn btn-primary">Add Activity</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>Add New Weight!</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">User ID</label>
        <input type="text" class="form-control" id="userId" #userId>
      </div>
      <div class="form-group">
        <label for="name">Date Time</label>
        <input type="text" class="form-control" id="dateTime" #dateTime>
      </div>
      <div class="form-group">
        <label for="name">Weight</label>
        <input type="text" class="form-control" id="weight" #weight>
      </div>
      <button type="button" (click)="addWeight(userId.value, dateTime.value, weight.value)" class="btn btn-primary">Add Weight</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>People</h3>
    <!-- Bootstrap Card -->
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let person of people">
        <h5 class="card-title">{{person._id}}  {{person.email}} {{person.firstName}} {{person.lastName}} {{person.created}}</h5>
    </div>
    <h3>Activities</h3>
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let activity of activities">
        <h5 class="card-title">{{activity._id}}  {{activity.userId}}
            {{activity.dateTime}} {{activity.description}}
            {{activity.weightValue}} {{activity.syncedDateTime}}
        </h5>
    </div>
    <h3>Weights</h3>
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let weight of weights">
        <h5 class="card-title">{{weight._id}}  {{weight.userId}}
            {{weight.dateTime}} {{weight.weight}} {{weight.syncedDateTime}}
        </h5>
    </div>
  </div>
</div>
